#define RT_MANIFEST 24
#define APP_MANIFEST 1
APP_MANIFEST RT_MANIFEST "..\\resource\\exe.manifest"

AppIcon       ICON   "..\\resource\\icoGrid.ico"
bmpfolder     BITMAP "..\\resource\\bmpfolder.bmp"
bmpsearch     BITMAP "..\\resource\\bmpsearch.bmp"
icoBook       ICON   "..\\resource\\icoBook.ico"
icoDoor       ICON   "..\\resource\\icoDoor.ico"
icoEdit       ICON   "..\\resource\\icoEdit.ico"
icoFilter     ICON   "..\\resource\\icoFilter.ico"
icoGoFirst    ICON   "..\\resource\\icoGoFirst.ico"
icoGrid       ICON   "..\\resource\\icoGrid.ico"
icoGoLast     ICON   "..\\resource\\icoGoLast.ico"
icoGoLeft     ICON   "..\\resource\\icoGoLeft.ico"
icoGoRight    ICON   "..\\resource\\icoGoRight.ico"
icoMail       ICON   "..\\resource\\icoMail.ico"
icoNoOk       ICON   "..\\resource\\icoNoOk.ico"
icoOk         ICON   "..\\resource\\icoOk.ico"
icoPlus       ICON   "..\\resource\\icoPlus.ico"
icoPrint      ICON   "..\\resource\\icoPrint.ico"
icoSearch     ICON   "..\\resource\\icoSearch.ico"
icoTrash      ICON   "..\\resource\\icoTrash.ico"
icoWindow     ICON   "..\\resource\\icowindowlb.ico"

